<div>
  <div class="card">
    <div class="header">
      <div class="header-content">
        <div class="logo">
          RB
        </div>
        <div class="c-name">
          <p class="bold">Reckit Benckiser</p>
          <p class="light">Kendra Badmus</p>
        </div>
      </div>
    </div>

    <nav>
      <ul>
        <li class="active">
          <div class="circle"></div>
          <span>Dashboard</span>
        </li>
        <p class="nav-header">Group a</p>
        <li>
          <div class="circle"></div>
          <span>Manufacturers</span>
        </li>
        <li>
          <div class="circle"></div>
          <span>Sellers</span>
          <span class="badge badge-danger">2</span>
        </li>
        <li>
          <div class="circle"></div>
          <span>Buyers</span>

        </li>
        <p class="nav-header">Group b</p>
        <li>
          <div class="circle"></div>
          <span>Areas</span>
          <span class="badge badge-danger">2</span>
        </li>
        <li>
          <div class="circle"></div>
          <span>Distributors</span>

        </li>
        <li>
          <div class="circle"></div>
          <span>Brands</span>

        </li>
        <p class="nav-header">Group c</p>

        <li>
          <div class="circle"></div>
          <span>Information</span>

        </li>

        <li>
          <div class="circle"></div>
          <span>Promotion</span>

        </li>
      </ul>
    </nav>
    <footer id="footer">
      <button class="button-base">Sales Manager</button>
    </footer>
  </div>
</div>
